<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Suite">
    <test name="Parallel Test" thread-count="2" parallel="classes">
        <classes>
            <class name="org.techmeskills.aqa5.auf.tests.SmokeTest1"/>
            <class name="org.techmeskills.aqa5.auf.tests.SmokeTest2"/>
        </classes>
    </test>
</suite>